
#top-panel {
    background: none;
    margin-bottom: 3pt;
    height: 34px;
    background-color: #434E3C;
}

#top-panel td > a {
    background: url("title.png") 0 0 no-repeat;
    display: block;
    width: 300px;
    height: 34px;
    margin-bottom: 3pt;
}

#top-panel td > a img {
      display: none; }

 
#main-table {
  background-image: url("background.png") !important;
}

/** hide the 'Help us localize this page' text in footer **/
#l10n-footer {
  display: none !important;
}

#breadcrumbs {
  background-color: #F5F4EB;
}


#breadcrumbs LI A {
    color: black !important;
}

