
#header {
    background: none;
    background-color: #434E3C;
    height: 34px;
}

#header .logo {
  margin-left: 5px;  
}

#header A {
  color: white;
}

#header .login a {
  position: relative;
  top: 0px;
}


#header div.searchbox{
  float: right;
  padding: 7px;
}

#search-box {
  height:16px;
}

#jenkins-home-link {
    background: url("title.png") no-repeat 0px 0px;
    display: block;
    width: 300px;
    height: 34px;
}

#jenkins-name-icon {
  display: none;
}

#jenkins-head-icon {
  display: none;
}


 
#page-body {
  /** background-image: url("background.png") !important; **/
  background-repeat: no-repeat;
  background-position: bottom left;
  margin-bottom: 50px;
  margin-left: 10px;
}


/** hide the 'Help us localize this page' text in footer **/
#l10n-footer {
  display: none !important;
}

#breadcrumbs {
  background-color: #F5F4EB;
}


#breadcrumbs LI A {
    color: black !important;
}

